build/
PCB/MainBoard/DangerDonut-backups/
PCB/MainBoard/~DangerDonut.kicad_sch.lck
PCB/MainBoard/~DangerDonut.kicad_pcb.lck
PCB/MainBoard/production
PCB/MainBoard/gerbers
PCB/Beacon/Beacon-backups
PCB/Beacon/production
components/POVDisplay/input.png*
managed_components/
sdkconfig.old
sdkconfig
*.o